
{% extends 'site.html' %}

{% block body %}

<div class="login-container">

  <h1 class="login-title">Markets </h1>
    <p>Server responds: {{createMarketResponse}}</p>
    <p> Verify key: {{form.verifyKey.raw_data[0]}}</p>

  <div class="login-form-cont">
    {% for index in markets.marketId %}
    <div class="col s12">
      <div class="card blue-grey darken-1 marketFlex">
        <div class="card-content white-text">
          <span class="card-title">Market Id: {{markets.marketId[index] }}</span>
          <div class="">
            {{markets.marketDesc[index] }}
          </div>
          <div class="markets-market-cont">
            <div class="markets-market-info">
              Root id: {{markets.marketRootId[index] }}
            </div>
            <div class="markets-market-info">
              Branch id: {{markets.marketBranchId[index] }}
            </div>
            <div class="markets-market-info">
              Min: {{markets.marketMin[index] }}
            </div>
            <div class="markets-market-info">
              Max: {{markets.marketMax[index] }}
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="{{url_for('market', num=markets.marketId[index] )}}" class="waves-effect waves-light btn">Visit Market</a>
        </div>
      </div>
    </div>

    {% endfor %}


  </div>

    <div class="createmarket-form">
    <div class="row">

      <form class="" method="post">
          {{ form.csrf_token }}
          {{ form.signingKey.label }}{{ form.signingKey }}
          {{ form.traderId.label }}{{ form.traderId }}
          {{ form.verifyKey.label }}{{ form.verifyKey }}
          {{ form.marketRootId.label }}{{ form.marketRootId }}
          {{ form.marketBranchId.label }}{{ form.marketBranchId }}
          {{ form.marketMin.label }}{{ form.marketMin }}
          {{ form.marketMax.label }}{{ form.marketMax }}
          {{ form.marketDesc.label }}{{ form.marketDesc }}
        <button type="submit" name="button" class="waves-effect waves-light btn">Create/Update Market</button>
      </form>
    </div>

</div>

<script type="text/javascript">
  var data = "{{markets | safe}}"
  console.log((data))
  // console.log(JSON.parse(data))
</script>


{% endblock %}
